{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div>
        <p>Забыли пароль? мы вам отправим 
        инструкцию для востановления пароль на вашу почту
        </p>
        <form action="" method="POST">
            {% csrf_token %}
            <fieldset class="module aligned">
                <div class="form-row field-email">
                    {{form.email.errors}}
                    <label for="id_email"> Email адрес</label>
                    {{form.email}}
                </div>
                <input type="submit" value="Изменить пароль">
            </fieldset>
        </form>
    </div>
{% endblock content %}